:root {
    --lancet-blue : #022e64;; 
}
.container-fluid{  
    margin-top: 100px;
    width: 580px;
    height: 450px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    border: 1px solid transparent;
    border-color: #ccc;
    
}
button.btnSubmit{
    margin-top: 50px;
    margin-left: 43%;
    border: 1px solid lightskyblue;
    background-color: #fff6f6;
    
}
button.btnSubmit:hover {
    
    background-color: #f7e9e3;
}
.div-icon{
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    height: 35px;
}
.td-icon{
    width: 8%;
    background-color: #fff6f6;
}
.tbl{
    padding: 10px;
    border-collapse: separate;
    width: 100%;
}
td{
    border: 1px solid #ced4da;
    border-radius: 3px;
}
.div-logo{
    font-family: monospace;
    color: var(--lancet-blue);
    text-align: center;
    border: 1px solid #ced4da;
    /* background-color: #fff6f6; */
}
.txt-input{
    width: 100%;
    height: 34px;
    border: 0px;
}
img{
    height: 150px;
    width: 150px;   
}
p{
    text-align: right;
}
/* response on devices */
@media only screen and (max-width:800px) {
    /* For tablets: */ 
    
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .container-fluid{
        margin-top: 100px;
        width: 98%;
        height: 450px;
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        border: 1px solid transparent;
        border-color: #ccc;
    }
    button.btnSubmit{
        margin-top: 50px;
        margin-left: 40%;
        border: 1px solid lightskyblue;
        
    }
  }   
